body {
    background-color: #fff9fb;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    display: block;
    font-family: Nunito;
    
    }
    h1{
        display: flex;
        text-align: left;
    }
.dive{
    display: flex;
    display: inline;
    padding: 0px;
}
.col{
    color: rgb(190, 76, 76);
}
.enrol{
   background-color: #EC4067; 
    color: #f8f2f4;
    padding: 10px;
    font-size: medium;
    border-radius: 5px;
}
nav{
    float: right;
    text-align: right;
    }
.moringa{
color: #e05273;
    }
.nature{
    padding: 20px;
}
.explore{
    color: #f1093f;
    padding: 10px;
    font-size: medium;
    border-color: #e05273;

}
.class{
    display: flex;
    display: inline;
}
.a{
    padding: 20px;
}
.b{
    padding: 20px;
}
.c{
    display: flex;
    display: inline;
    padding: 20px;
}
.d{
    padding: 20px;
}
.sec{
    
    display: flex;
    flex-direction: row;
    
}.fin{
    display: flex;
    flex-direction: row;
}
.arrange{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
}
.disp{
    padding: 0px;
    margin-top: 100px;
}
.navi a{
    font-size: medium;
    margin-right: 30px;
    color: black;
    text-decoration: none;

}
.stori{
    background-color: #d1cacd;
}
#orient{
    display: flex;
    flex-direction: row;
}
#imag{
    margin-right: 100px;
    margin-left: 50px;
    position: relative;
  text-align: center;
  color: rgb(240, 235, 235);
  font-size: large;

}

.parag{
    margin-top: 50px;
    margin-right: 50px;
    font-size: large;
}
#grad{
    display: flex;
    flex-direction: row;
}
.part{
    margin-top: 50px;
    margin-left: 100px;
    font-size: large;
}
#part{
    margin-top: 50px;
    margin-right: 50px;
}
#board{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
.meet{
    margin-right: 300px;
    margin-top: 30px;
}
#spa .div{
    display: flex;
    display: inline;
}
h4{
    color: #EC4067;
}
h1{
    font-size: large;
    margin-right: 20px;
    font-weight: bold;
}
.skil{
    margin-bottom: 10px;
}
.cool{
    margin-right: 200px;
}
.bike{
    font-size: large;
}
.still{
    color: #EC4067;
}
.topR{
    position: absolute;
  top: 8px;
  right: 16px;
  font-size: large;
}
.botL {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  .topL{
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: large;
  }
  .botR{
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: large;
  }